<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gotemps</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/login_form/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login_form/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login_form/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login_form/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login_form/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/login_form/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login_form/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login_form/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/login_form/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login_form/css/util.css">
	<link rel="stylesheet" type="text/css" href="/login_form/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form action="/templates/mail" method="POST" class="login100-form validate-form">
					<span class="login100-form-title p-b-70">
						Sending Mails
					</span>
					<!-- <span class="login100-form-avatar">
						<img src="/login_form/images/avatar-01.jpg" alt="AVATAR">
					</span> -->

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter emails">
						<input class="input100" type="text" name="emails">
						<span class="focus-input100" data-placeholder="emails"></span>
					</div>
					<div class="wrap-input100 validate-input m-t-50 m-b-35" data-validate = "Enter subject">
						<input class="input100" type="text" name="subject">
						<span class="focus-input100" data-placeholder="subject"></span>
					</div>

					<div class="wrap-input100 validate-input m-t-50 m-b-85" data-validate="Enter content">
						<textarea class="input100" rows="2" cols="200" type="content" name="content"></textarea>
						<span class="focus-input100" data-placeholder="content"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Send Mail
						</button>
					</div>

				
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
	<script src="/login_form/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/login_form/vendor/animsition/js/animsition.min.js"></script>
	<script src="/login_form/vendor/bootstrap/js/popper.js"></script>
	<script src="/login_form/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/login_form/vendor/select2/select2.min.js"></script>
	<script src="/login_form/vendor/daterangepicker/moment.min.js"></script>
	<script src="/login_form/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="/login_form/vendor/countdowntime/countdowntime.js"></script>
	<script src="/login_form/js/main.js"></script>

</body>
</html>