<% include ../partials/header%>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h1 style="text-align:center; margin:50px auto">Create a new google template</h1>
            </div>
            <div class="col-md-6" style="margin:80px auto;"> <iframe width="420" height="315" src="https://www.youtube.com/embed/EmlbmWuKUIU?autoplay=1"></iframe></div>
            <div class="col-md-6">
            <div style="width:100%;margin:100px auto;">

                <!--Change the form action to /templates-->
                <form action="/templates" method="POST">

                    <div class="form-group">
                        <input class="form-control" type="text" name="template[name]" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="template[preview]" placeholder="Enter document url for previewing">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="template[copy]" placeholder="Enter document url for copying">
                    </div>
                    <div class="form-group">
                        <!-- <input class="form-control" type="text" name="template[category]" placeholder="Enter the category eg:-Ethics,recruitment,enviroment,english"> -->
                        <select name="template[category]" class="form-control">
                            <option value="Enviromental">Enviromental</option>
                            <option value="Ethics">Ethics</option>
                            <option value="English">English</option>
                            <option value="Ngo_recruitment">NGO Recruitment</option>
                            <option value="Club_recruitment">Club Recruitment</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <input class="btn btn-default btn-block btn-primary" type="submit" value="Submit">
                    </div>
                </form>
                <a href="/templates">Go Back</a>
            </div>
        </div>
    </div>
    </div>
    <% include ../partials/footer%>