<% include ../partials/header%>
    <div class="container">
        <div class="row">

            <h1 style="text-align:center; magin:70px auto">Create a new google template</h1>
            <div style="width:30%;margin:25px auto;">

            <!--Change the form action to /templates-->
                <form action="/templates" method="POST">

                    <div class="form-group">
                        <input class="form-control" type="text" name="template[name]" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="template[preview]" placeholder="Enter document url for previewing">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="template[copy]" placeholder="Enter document url for copying">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="template[category]" placeholder="Enter the category eg:-Ethics,recruitment,enviroment,english">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-default btn-block btn-primary" type="submit" value="Submit">
                    </div>
                </form>
                <a href="/templates">Go Back</a>
            </div>
        </div>
    </div>
<% include ../partials/footer%>