section{
    margin-top:30px;
}

.jumbotron{
    margin-top:30px;
}

.thumbnail{
    padding : 0px;
    
}
.thumbnail img{
    padding : 9px;
    width:100%;
}

.thumbnail .caption-full{
    padding:9px;
}

#delete-form{
    display:inline;
}

.row .col-sm-6{
    display: flex;
    /* flex-direction: column;
    justify-content: space-between;
    flex-basis: 50px; */
}

.row .col-sm-6 .thumbnail{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    justify-content: space-between;
}

@media screen and (max-width:600px)  {
    .row .col-sm-6{
        display: flex;
        flex-direction: column;
        /* align-content: space-between; */
        justify-content: center;
        margin-bottom: 80px;
    }
    
}